@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&display=swap');

:root{
    --button-bg: #596D48;
    --main-bg:rgb(251, 251, 251);
}


@font-face {
    font-family: "Norse Bold";
    src: url("assets/Norse-Bold.otf");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

/* GENERAL STYLES*/
button{
    background-color: var(--button-bg, green);
    color: #fff;
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 10px;
    border-style: none;
    width: 250px;
    height: auto;
    margin: 20px 0px;
}

input{
    width: 15rem;
    border: 2px solid #e5e7eb;
    border-radius: 4px;
}

label{
    font-family: 'Lato', sans-serif;
}

input:focus{
    border-color: blue;
}



/* BODY*/

.container{
    display: flex;
}
/* LEFT SIDE*/
.images{
    background-image: url(images/green-leaf.avif);
    background-repeat: no-repeat;
    background-position: center center;
    height: 130vh;
    width: 80vw;
}

.logo {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
}

.logo img{
    width: 100px;
    margin: 10px;
}

.logo p{
    position: relative;
    top: 35px;
    text-align: center;
    color: #fff;
    font-family: "Norse Bold";
    font-size: 5rem;
    float: right;
}

.green-leaf img{
    width: 480px;
    height: auto;
}

.attribution{
    position: absolute;
    bottom: -210px;
    font-size: 0.9rem;
    color: #fff;
    margin-left: 1rem;
}
.attribution a{
    color: #fff;
    text-decoration: underline;
}
/* RIGHT SIDE*/
.sign-up-side{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
}

.main-form{
    margin: 10px 0;
    padding: 25px 45px 30px;
    background-color: #fff;
    box-shadow: 0 3px 10px  rgb(0 0 0 / 0.2);
}

.sign-up-side .text{
    margin: 100px 210px 40px 40px;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.form-group{
    display: flex;
    flex-direction: row;
    gap: 130px;
    margin-bottom: 15px;
}

label{
    margin: 5px 5px 5px 0px;
}

form .input-box{
    display: flex;
    flex-direction: column;
}

form h2{
    margin-bottom:15px;
}

form button{
    margin-left: 40px;
}

.submit-section{
    margin: 40px;
}

.submit-section a{
    color: #596D48;
    font-weight: bold;
}
.submit-section a:hover{
    color: #799462;
}

button:hover{
    background-color: #799462;
    color: #fff;
}

/*MEDIA QUERIES*/
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (max-width: 768px) {

    input{
        width:20rem;
    }
    .container{
        flex-direction: column;
    }

    .images {
        height: 50vh;
        width: 100vw;
      }
    
    .form-group{
        flex-direction: column;
        gap:20px;
    }

    .sign-up-side .text {
        margin: 20px 21px 40px 40px;
        font-size: 1.4rem;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
      }

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (max-width: 992px) {
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo p{
        top: 0px;
        font-size: 2.5rem;
    }

    .attribution {
        display: none;
    }
 }
 
